<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>Quixlab - Bootstrap Admin Dashboard Template by Themefisher.com</title>
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" href="images/favicon.png">
    <!-- Custom Stylesheet -->
    <link href="css/style.css" rel="stylesheet">
    <script src="https://kit.fontawesome.com/ace98fed36.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.datatables.net/1.12.1/css/jquery.dataTables.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/buttons/2.2.3/css/buttons.dataTables.min.css">


</head>

<body>
    <div id="main-wrapper">
        <div class="nav-header">
            <div class="brand-logo">
                <a href="index.html">
                    <b class="logo-abbr"><img src="images/logo.png" alt=""> </b>
                    <span class="logo-compact"><img src="./images/logo-compact.png" alt=""></span>
                    <span class="brand-title">
                        <img src="images/logo-text.png" alt="">
                    </span>
                </a>
            </div>
        </div>
        {{>adminheader}}
        <div class="content-body mt-5">
            <div class="row">
                <div class="col-lg-12">
                       {{>reportheader}}
                </div>
            </div>


            <div class="card mt-5">
                <div class="card-body">
                    <h4 class="card-title">Sales Report</h4>
                    <div class="table-responsive">
                        <table id="value" class="table table-striped table-bordered zero-configuration">
                            <thead>
                                <tr>
                                    <th>Invoice</th>
                                    <th>Product Name</th>
                                    <th>Brand</th>
                                    <th>quantity</th>
                                    <th>Amount</th>
                                </tr>
                            </thead>
                            <tbody>
                                {{#each daily}}
                                <tr>
                                    <td>{{this._id}}</td>
                                    <td>{{this.product.product}}</td>
                                    <td>{{this.product.brand}}</td>
                                    <td>{{this.quantity}}</td>
                                    <td><span>₹</span><span class="total">{{this.total}}</span></td>
                                </tr>
                                {{/each}}
                            </tbody>
                            <tfooter>
                                <th>Grand Total</th>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th><span id="grand"></span></th>
                            </tfooter>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <!-- #/ container -->
    </div>
    <!--**********************************
            Content body end
        ***********************************-->


    <!--**********************************
            Footer start
        ***********************************-->
    <div class="footer">
        <div class="copyright">
            <p>Copyright &copy; Designed & Developed by <a href="https://themeforest.net/user/quixlab">Quixlab</a>
                2018
            </p>
        </div>
    </div>
    <!--**********************************
            Footer end
        ***********************************-->
    </div>
    <!--**********************************
        Main wrapper end
    ***********************************-->

    <!--**********************************
        Scripts
    ***********************************-->


    <script src="plugins/common/common.min.js"></script>
    <script src="js/custom.min.js"></script>
    <script src="js/settings.js"></script>
    <script src="js/gleek.js"></script>
    <script src="js/styleSwitcher.js"></script>

    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/2.2.3/js/dataTables.buttons.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
    <script src="https://cdn.datatables.net/buttons/2.2.3/js/buttons.html5.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/2.2.3/js/buttons.print.min.js"></script>
    
<script>
    function call(id){
        form=document.getElementById(id)
        form.submit()
    }
</script>

    <script>
        let sum = document.getElementsByClassName('total')
        let gtotal = 0
        for (i = 0; i < sum.length; i++) {
            gtotal = gtotal + parseInt(sum[i].innerHTML)
        }
        document.getElementById('grand').innerHTML = '₹' + gtotal
    </script>

    <script>

        $(document).ready(function () {
            $('#value').DataTable({
                dom: 'Bfrtip',
                buttons: [
                    'copy', 'excel', 'pdf'
                ]
            });
        });
    </script>


    <script src="js/active.js"></script>



</body>

</html>