<!DOCTYPE html>
<html lang="en">

<head>
  <title>ShopMax &mdash; Colorlib e-Commerce Template</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Mukta:300,400,700">
  <link rel="stylesheet" href="/user/fonts/icomoon/style.css">

  <link rel="stylesheet" href="/user/stylesheet/bootstrap.min.css">
  <link rel="stylesheet" href="/user/stylesheet/magnific-popup.css">
  <link rel="stylesheet" href="/user/stylesheet/jquery-ui.css">
  <link rel="stylesheet" href="/user/stylesheet/owl.carousel.min.css">
  <link rel="stylesheet" href="/user/stylesheet/owl.theme.default.min.css">


  <link rel="stylesheet" href="/user/stylesheet/aos.css">

  <link rel="stylesheet" href="/user/stylesheet/style.css">

</head>

<body>

  <div class="site-wrap">

    {{>userheader}}


    <div class="site-section">
      <div class="container">
        <div class="row mb-5">
          <div class="col-md-12">
            <div id="val2" class="site-blocks-table">
              <table class="table table-bordered">
                {{#if product.empty}}
                <thead>
                  <tr>
                    <th class="product-thumbnail">Image</th>
                    <th class="product-name">Product</th>
                    <th class="product-price">Price</th>
                    <th class="product-quantity">Quantity</th>
                    <th class="product-total">Total</th>
                    <th class="product-remove">Remove</th>
                  </tr>
                </thead>
                {{else}}

                {{/if}}
                <tbody>
                  {{#if product.empty}}


                  {{#each product}}

                  <tr>
                    <td class="product-thumbnail">
                      <img style="width:50px;height:70px;" src="/product/{{this.product.imagefileName.[0]}}" alt="Image"
                        class="img-fluid">
                    </td>
                    <td class="product-name">
                      <h2 class="h5 text-black">{{this.product.product}}</h2>
                    </td>
                    <td>₹{{this.product.offerprice}}</td>
                    <td>

                      <div class="input-group mb-3" style="max-width: 120px;">
                        <div class="input-group-prepend">
                          <button class="btn btn-outline-primary"
                            onclick="quantity('{{this._id}}','{{this.product._id}}',-1,'1{{this.product._id}}',-{{this.product.offerprice}})"
                            type="button">&minus;</button>
                        </div>
                        <input type="text" id={{this.product._id}} readonly class="form-control text-center"
                          value={{this.quantity}} placeholder="" aria-label="Example text with button addon"
                          aria-describedby="button-addon1">
                        <div class="input-group-append">
                          <button class="btn btn-outline-primary "
                            onclick="quantity('{{this._id}}','{{this.product._id}}',1,'1{{this.product._id}}',{{this.product.offerprice}})"
                            type="button">&plus;</button>
                        </div>
                      </div>

                    </td>
                    <div >
                      <td><span>₹</span><span class="stotal" id=1{{this.product._id}}>{{this.gtotal}}</span></td>
                      <p class="store" hidden>{{this.gtotal}}</p>
                    </div>
                    <td>
                      <button onclick="remove('{{this.product._id}}')"
                        class="btn btn-primary height-auto btn-sm">X</button>
                    </td>
                  </tr>

                  {{/each}}

                  {{else}}
                  <h1 style="text-align: center;">Cart is empty</h1>
                </tbody>
                , {{/if}}
              </table>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-6">
            <div class="row mb-5">
            </div>
            <div class="row">
              <div class="col-md-12">
                <label class="text-black h4" for="coupon">Coupon</label>
                <p>Enter your coupon code if you have one.</p>
              </div>
              <div class="col-md-8 mb-3 mb-md-0">
                <form id="couponapply">
                  <input type="text" id="couponinput" name="coupon" class="form-control py-3" onkeydown="check()"
                    placeholder="Coupon Code" oninput="this.value = this.value.toUpperCase()"/>
                  <span id="err" style="color: red;"></span>
              </div>
              <div class="col-md-4">
                <button type="submit" id="cpbtn" class="btn btn-primary btn-sm px-4">Apply Coupon</button>
              </div>
              </form>

            </div>
          </div>
          <div class="col-md-6 pl-5">
            <div class="row justify-content-end">
              <div class="col-md-7">
                <div class="row">
                  <div class="col-md-12 text-right border-bottom mb-5">
                    <h3 class="text-black h4 text-uppercase">Cart Totals</h3>
                  </div>
                </div>
                {{#if product.empty}}
                <div id="val1" class="row mb-5">
                  <div class="col-md-6">
                    <span style="font-size:larger ;" class="text-black">Total</span>
                  </div>
                  <div class="col-md-6 text-right">
                    <span>₹</span> <strong id="total" style="font-size:larger ;" class="text-black">{{total}}</strong>
                    <p id="test" hidden>{{total}}</p>
                  </div>
                </div>
                {{else}}

                {{/if}}

                <div class="row">
                  {{#if product.empty}}
                  <div class="col-md-12">
                    <a id="atag" href="/checkout"><button class="btn btn-primary btn-lg btn-block">Proceed To
                        Checkout</button></a>
                  </div>
                  {{else}}

                  {{/if}}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <footer class="site-footer custom-border-top">
      <div class="container">
        <div class="row">
          <div class="col-md-6 col-lg-3 mb-4 mb-lg-0">
            <h3 class="footer-heading mb-4">Promo</h3>
            <a href="#" class="block-6">
              <img src="/user/images/about_1.jpg" alt="Image placeholder" class="img-fluid rounded mb-4">
              <h3 class="font-weight-light  mb-0">Finding Your Perfect Shirts This Summer</h3>
              <p>Promo from July 15 &mdash; 25, 2019</p>
            </a>
          </div>
          <div class="col-lg-5 ml-auto mb-5 mb-lg-0">
            <div class="row">
              <div class="col-md-12">
                <h3 class="footer-heading mb-4">Quick Links</h3>
              </div>
              <div class="col-md-6 col-lg-4">
                <ul class="list-unstyled">
                  <li><a href="#">Sell online</a></li>
                  <li><a href="#">Features</a></li>
                  <li><a href="#">Shopping cart</a></li>
                  <li><a href="#">Store builder</a></li>
                </ul>
              </div>
              <div class="col-md-6 col-lg-4">
                <ul class="list-unstyled">
                  <li><a href="#">Mobile commerce</a></li>
                  <li><a href="#">Dropshipping</a></li>
                  <li><a href="#">Website development</a></li>
                </ul>
              </div>
              <div class="col-md-6 col-lg-4">
                <ul class="list-unstyled">
                  <li><a href="#">Point of sale</a></li>
                  <li><a href="#">Hardware</a></li>
                  <li><a href="#">Software</a></li>
                </ul>
              </div>
            </div>
          </div>

          <div class="col-md-6 col-lg-3">
            <div class="block-5 mb-5">
              <h3 class="footer-heading mb-4">Contact Info</h3>
              <ul class="list-unstyled">
                <li class="address">203 Fake St. Mountain View, San Francisco, California, USA</li>
                <li class="phone"><a href="tel://23923929210">+2 392 3929 210</a></li>
                <li class="email">emailaddress@domain.com</li>
              </ul>
            </div>

            <div class="block-7">
              <form action="#" method="post">
                <label for="email_subscribe" class="footer-heading">Subscribe</label>
                <div class="form-group">
                  <input type="text" class="form-control py-4" id="email_subscribe" placeholder="Email">
                  <input type="submit" class="btn btn-sm btn-primary" value="Send">
                </div>
              </form>
            </div>
          </div>
        </div>
        <div class="row pt-5 mt-5 text-center">
          <div class="col-md-12">
            <p>
              <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
              Copyright &copy;
              <script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made
              with <i class="icon-heart" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank"
                class="text-primary">Colorlib</a>
              <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
            </p>
          </div>

        </div>
      </div>
    </footer>
  </div>


  <script src="/user/js/jquery-3.3.1.min.js"></script>
  <script src="/user/js/jquery-ui.js"></script>
  <script src="/user/js/popper.min.js"></script>
  <script src="/user/js/bootstrap.min.js"></script>
  <script src="/user/js/owl.carousel.min.js"></script>
  <script src="/user/js/jquery.magnific-popup.min.js"></script>
  <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
  <script src="/user/js/aos.js"></script>
  <script src="/user/js/main.js"></script>
  <script src="/user/js/remove.js"></script>
  <script src="/user/js/quantity.js"></script>
  <script src="/user/js/coupon.js"></script>
  <script>
    function check() {
       document.getElementById('err').innerHTML=null
      document.getElementById('cpbtn').disabled = false;
      document.getElementById('cpbtn').style.opacity = 100
      let value = document.querySelectorAll('.store')
      let amt = document.querySelectorAll('.stotal')
      for (i = 0; i < amt.length; i++) {
        amt[i].innerHTML = value[i].innerHTML
      }
      let total = document.getElementById('test').innerHTML
      document.getElementById('total').innerHTML = total
    }
  </script>
 <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>


</body>

</html>